/* 
db-simple.css, a simple style file for a faculty web page.
Author:  Devin Balkcom.  
*/


body  {
font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
background: #FFFFFF;
font-size: 14px; 
line-height: 1.3;
/*text-align: justify; */
padding-right:50px;
padding-left:50px;
}


#container 
{ 
   position: relative 
}

#sitetitle
{ 
position: absolute; 
bottom:0;
font-size: 28px;
font-weight: normal;
text-decoration: none;
color: #000;
}

#sitesubtitle
{
font-size: 14px;
font-weight: normal;
text-align: right;
}	



#listblurb
{
float: right;	
}


/* Menu design from Russ Weakley 
http://css.maxdesign.com.au/listamatic/horizontal03.htm
*/

#menubar ul {
padding-left: 0;
margin-left: 0;
/*background-color: #036;*/
background-color: #777;
color: White;
float: left;
width: 100%;
font-size: 14px;
}

#menubar li{
display: inline;
list-style-type: none;
}

#menubar ul li a{
padding: 0.2em 1em;
/* background-color: #036;*/
background-color: #777;
color: White;
text-decoration: none;
float: left;
border-right: 1px solid #fff;
font-size: 14px;
}

#menubar ul li a:hover
{
background-color: #111;
color: #fff;
font-size: 14px;
}


h1 {
color:  #940;
text-decoration: none;
font-size: 1.5em; 
line-height:1.3;
font-weight: bold;
text-align: left;
}


h2 {
color:  #940;
text-decoration: none;
font-size: 1.1em; 
line-height:1.3;
font-weight: bold;
text-align: left;
}

.right_image{
float:right;
margin-left: 15px;
}


.left_image{
float:left;
margin-right: 15px;
}